.sectionContainer {
  @include SectionContainer(0.5rem, 0.5rem);

  @include tablet {
    @include SectionContainer(0.875rem, 0.875rem);
  }

  @include desktop {
    @include SectionContainer(1rem, 1rem);
  }
}

/* Navbar Container */

.navbarContainer {
  height: 2rem;
  background-color: $background-nav;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 100;
}

.mobile {
  background-color: $background;
}

/* Section background colors */

.sectionGray {
  background-color: $sectionBackgroundGray;
}

.sectionRose {
  background-color: $sectionBackgroundRose;
}

/* Card container */

.card {
  @include SectionContainer(0.5rem, 1.5rem, 3rem, 3rem);
  @include CardRadius(1rem);
}
