/* Fondos */
$background: #fafafa;
$background-nav: #f3f3f3;

$sectionBackgroundGray: #f5f5f7;

$sectionBackgroundRose: #fdf6f0;

/* Textos */
$text-dark: #1d1d1f;
$text-light: #f5f5f7;
$text-gray: #86868b;
$text-link: #0070c9;
$text-darklink: #0058a0;
