.navIcon {
  zoom: 0.6;
  margin: 1rem auto;
}

.menuIcon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 75%);
  width: 1.5rem;
  height: auto;
  padding: 1rem;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.navlink {
  color: $text-dark;
  display: flex;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;

  &:active {
    color: $text-gray;
  }
}

.navmenu {
  display: flex;
  align-items: center;
  margin-right: -24px;

  @include tablet {
    display: none;
  }
}

.navbtn {
  display: flex;
  align-items: center;
  margin-right: 24px;

  @include tablet {
    display: none;
  }
}

.navbtnlink {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: $text-gray;
  color: $text-light;
  padding: 10px 22px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: $text-dark;
    color: $text-light;
  }
}
